<!DOCTYPE html>
<html lang="en"
xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Exibindo dados da corrida</h1>
        <label>Local: </label>
        <label th:text="${partida.getLocal()}"></label><br>
        <label>Inicio: </label>
        <label th:text="${partida.getInicio()}"></label><br>
        <label>Peso: </label>
        <label th:text="${partida.getFim()}"></label><br>
        <label>Duração da partida: </label>
        <label th:text="${partida.calcularDuracao()}"></label>
        <label>Minutos</label> <br>
        <a href="/partidas">Registrar novo</a> 
</body>
</html>