<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulário para registro de atleta</h1>
    <form action="atletas/cadastrar" method="get">
        <label>Nome: </label>
        <input id="nome" name="nome" type="text"> <br><br>
        <label>Idade: </label>
        <input id="idade" name="idade" type="number"> <br><br>
        <label>Peso: </label>
        <input id="peso" name="peso" type="number" step="0.01"> <br><br>
        <label>Altura: </label>
        <input id="altura" name="altura" type="number" step="0.01"> <br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>